
/* Your solution does not use floats, inline-block, or absolute positioning. */

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;

  /* Logo is centered vertically and horizontally. */

  /* list-items are horizontal, and are centered vertically inside the header. */

  justify-content: space-between;
  align-items: center;

  /* There is space between all items and the edge of the header (specific px amount doesn't matter here). */

  padding: 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  width: 250px;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;

  /* left-links and right-links are pushed all the way to the left and right, and stay at the edge of the header when the page is resized. */

  justify-content: space-around;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}