/* Did you make separate rules for the styles unique to each element?
Yes */

.blac {
  background-color: black;
  color: white;
}

.yello {
  background-color: yellow;  
}

/* Did you use the grouping selector for styles that both elements share?
Yes */

.blac,
.yello {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}